<div class="details text-center">
  <div class="mainbox">
    <div class="maintextbox insetshadow animated zoomIn faster">
      <h1 class="maintext">Thank you!</h1>
      <h1 class="bodytext">Your RSVP has been sent!</h1>
      <h1 class="bodytext">SEE YOU IN JUNE!</h1>
    </div>
  </div>
  <div class="painting maintextbox shadow animated zoomIn fast"></div>
</div>
