<div class="container-fluid">
    <div class="row">
      <app-nav style="width: 100%;"></app-nav>
    </div>
    <div class="row">
      <router-outlet style="width: 100%;"></router-outlet>
    </div>
</div>
